

  .keyboard-container {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 550px;
    background-color: #1D1D1F;
    
  }
  
  .container-input{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #text-input{
    width: 70%;
    padding: 15px;
    border: none;
    border-bottom: 2px solid white;
    color: #fff;
    background-color: #1D1D1F;;
   }
  input[type=text]:focus {
    border: none;
    outline: none;
  }
  .keyboard {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 98%;
    
    padding: 1%;

  }
  
  .keyboard-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin: .5%;
    color: #fff;
    text-align: center;
    cursor: pointer;
  }
  .backspace img{
    width: 40%;
  }

  .enter img{
    width: 40%;
  }

  .caps-lock img{
    width: 40%;
  }  

  
  
  .key:hover {
    transform: scale('1.6');
  }
  
  @media screen and (max-width: 530px) {
    .key {
      flex: 1;
    }
  
  }