

  .keyboard-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1D1D1F;
    
  }
  
  .container-input{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #text-input{
    width: 70%;
    padding: 15px;
    border: none;
    border-bottom: 2px solid white;
    color: #fff;
    background-color: #1D1D1F;;
   }
  input[type=text]:focus {
    border: none;
    outline: none;
  }
  .keyboard {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 98%;
    
    padding: 1%;

  }
  
  .keyboard-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    
    padding: 2% 2.2%;
    margin: .5%;
    color: #fff;
    text-align: center;
    cursor: pointer;
  }
  
  .key:hover {
    background-color: #ccc;
  }
  